* {
    margin: 0;
    padding: 0;
}
body {
    background: #000;
    color: #DBDBDB;
    font-family: 'Gilroy', sans-serif;
    font-weight: normal;
    font-size: 18px;
}

.site {
    width: 1025px;
    margin: 64px auto;
}
.site > div, .site > div:not([class='footer']) {
    margin-bottom: 152px;
}
.title {
    margin-bottom: 64px;
    color: #ffffff;
}
.paragraph {
    line-height: 36px;
    font-family: Montserrat, sans-serif;
    font-weight: lighter;
}
body::-webkit-scrollbar {
    width: 16px;
}
body::-webkit-scrollbar * {
    background:transparent;
}
body::-webkit-scrollbar-track {
    width: 1em;
}
body::-webkit-scrollbar-thumb {
    background-color: #160030 !important;
    border-radius: 8px;
}
/* header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__nav {}
.header__link {
    color: #DBDBDB;
    margin-left: 64px;
    text-decoration: none;
}
.header__link:hover {
    color: #fff;
}

/* intro */

.intro {
    text-align: center;
    padding: 64px;
}
.intro:before {
    content: '';
    position: absolute;
    width: 100%;
    top: -300px;
    height: 1080px;
    left: -1px;
    z-index: -1;
    background: radial-gradient(53.41% 43.38% at 76.74% 67.66%, rgba(36, 0, 255, 0.2) 0%, rgba(0, 0, 0, 0) 100%),
    radial-gradient(43.9% 58.06% at 22.68% 48.07%, rgba(255, 0, 107, 0.15) 0%, rgba(0, 0, 0, 0) 100%);
}
.into__gradient {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 1080px;
    background: radial-gradient(88.67% 88.67% at 50% 42.96%, rgba(173, 0, 255, 0.25) 0%, rgba(0, 0, 0, 0) 50%);
    position: absolute;
    z-index: -1;
}
.intro__title {
    margin: 0;
}
.intro__subtitle {}

/* about-me */

.about-me {

}
.about-me__title {

}
.about-me_paragraph {
    font-size: 18px;
}
.about-me_paragraph + .about-me_paragraph {
    margin-top: 32px;
}
.about-me__paragraph_bordered {
    padding: 32px;
    border: 1px solid #AD00FF;
}

/* goals */

.goals {}
.goals:before {
    content: '';
    width: 100%;
    height: 1080px;
    position: absolute;
    left: 0;
    z-index: -1;
    background: radial-gradient(53.41% 43.38% at 76.74% 67.66%, rgba(36, 0, 255, 0.2) 0%, rgba(0, 0, 0, 0) 70%),
    radial-gradient(43.9% 58.06% at 22.68% 48.07%, rgba(255, 0, 107, 0.15) 0%, rgba(0, 0, 0, 0) 100%);
}
.goals__container {
    display: flex;
    justify-content: space-between;
}
.goals__item {
    text-align: center;
    width: 236px;
}
.goals__subtitle {
    margin-bottom: 24px;
}
.goals__paragraph + .goals__paragraph {
    margin-top: 24px;
}

/* skills */

.skills__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.skills__item {
    background: rgba(255, 255, 255, 0.02);
    border: 1px solid rgba(255, 255, 255, 0.12);
    box-sizing: border-box;
    backdrop-filter: blur(3px);
    padding: 42px;
    margin-right: 16px;
    margin-bottom: 16px;
    flex-grow: 1;
}
.skills__break {
    margin-right: 0;
}

/* ad-skills */

.ad-skills__container {
    display: flex;
    list-style: none;
}
.ad-skills__item {
    margin-right: 24px;
}

@font-face {
    font-family: 'Gilroy';
    src: url("./fonts/gilroy-bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: 'Gilroy';
    src: url("./fonts/gilroy-regular.ttf");
    font-weight: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url("./fonts/Montserrat-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: 'Montserrat';
    src: url("./fonts/Montserrat-Regular.ttf");
    font-weight: normal;
}