@font-face {
    font-family: 'Gilroy';
    src: url("./gilroy-bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: 'Gilroy';
    src: url("./gilroy-regular.ttf");
    font-weight: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url("./Montserrat-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: 'Montserrat';
    src: url("./Montserrat-Regular.ttf");
    font-weight: normal;
}
body {
    font-family: 'Gilroy';
    font-weight: normal;
    font-size: 18.66px;
}